# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Outputs
outputs/
*.ply
*.json

# Logs
*.log

#video_demo
videos/
*.mp4

#images
*.png

#weight 
*.pt
